* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e2e2e;
    color: aliceblue;
}


.menu h1 {
    font-size: 3em;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s;
}

.menu a:hover {
    color: #e50914;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #c40000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

form button:hover {
    background-color: #8a0000;
}

.goBack {
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.goBack img {
    fill: white;
    width: 30px;
    height: auto;
}
